
<br><br>

<footer id="footer" class="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2019 <a target="_blank" >Training FMI</a>. All Rights Reserved.
      </div>
      <!--
          All links in the footer should remain intact.
          Licenseing information is available at: http://bootstraptaste.com/license/
          You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Gp
      -->
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="home.php">Home</a></li>
          <li><a href="about-us.pbp">About Us</a></li>
          <li><a href="terms.php">Terms and conditions </a></li>
          <li><a href="contact-us.php">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/progress-bar.js"></script>
<script src="/js/calendar.js" type="text/javascript">
</script><script src="/js/blog.js" type="text/javascript"></script>

</body>
</html>
