<% include partials/header %>
<br><br><br><br>

<div class="cont">
    <p class="textp"><span style="font-family: 'Comic Sans MS'; font-size:3vw; text-align: center; color: #005cbf;"> TEORIA INVATARII LA ADULTI </span>
        <br><br>1. Adultii au diferite grade de autonomie si-si exercita autonomia in situatiile de invatare. Imaginea lor de sine afecteaza in mod direct invatarea, deci investitia pe care o fac in activitatea educationala creste. Din acest motiv, daca adultii au impresia ca activitatile la care participa sunt copilaresti, interesul lor pentru invatare va scade.
        <br><br>2. Adultii au o mare experienta de viata la care fac referire si pe care doresc sa o impartaseasca si altora. Fiecare dintre ei are experiente de viata unice, exprimate prin rolurile pe care le au ca angajat, sot/ sotie, parinte, cetatean, somer, absolvent al unei institutii de invatamant superior etc. Totodata, ei au reflectat asupra intelesului vietii, din moment ce au trecut prin experienta nasterii unui copil, al mortii unui membru al familiei, promovari in slujba etc. Motivatia adultilor creste atunci cand li se ofera posibilitatea sa faca referire la experientele lor de viata si sa le lege de ceea ce invata nou. Cea mai importanta modalitate prin care adultii asimileaza noi informatii si abilitati este de a discuta pe parcursul instruirii cu ceilalti cu privire la ceea ce cred si experientele pe care le-au avut.
        <br><br>3. Adultii tind sa retina ceea ce considera ei ca fiind important, mai degraba decat ceea ce considera altii ca fiind important. Sistemul de credinte, atitudini si valori determina intr-o foarte mare masura ceea ce vor retine si vor invata.
    </p>
</div>

<% include partials/footer %>
