<% include partials/header %>
<br><br><br><br>

<div class="cont">
    <p class="textp"><span style="font-family: 'Comic Sans MS'; font-size:3vw; text-align: center; color: #005cbf;"> Despre </span><br>
        ASMI este asociația reprezentativă la nivelul Facultății de Matematică și Informatică a Universității din București, <br>
        organizată ca un ONG non-profit.<br>
        Pentru noi anul 2009 a reprezentat începutul, momentul în care au fost puse bazele comunității care a ajutat la dezvoltarea generațiilor de studenți și care încă de atunci își propune să evolueze constant. <br>
        Ce facem? În primul rând reprezentăm interesele și aspirațiile studenților dar nu ne limităm la atât. Alături de partenerii noștri realizăm proiecte și activități de interes pentru studenți ce au ca scop dezvoltarea lor pe plan profesional, socio-cultural și personal. Dacă te-am făcut curios apasă pe Trainings pentru a afla mai multe despre proiectele noastre. <br>
    </p>
</div>

<% include partials/footer %>
