<% include partials/header %>

<div class="slideContainer">
    <h1 class="text"> ACESTA ESTE PARCURSUL TRAININGURILOR DIN 2009-2019</h1>
     <br>
    <input type="range" min="2009" max="2019" value="2009" id="myRange" class="sliderr">
    <br>
    <p  class="Value">Year: <span id="value"> </span></p>
</div>
<br><br><br><br>

<div class="animImage" >
    <img id="image" src="/images/anim1.png" style="width: 20vw; margin-left: 30vw" >
</div>
<br><br><br><br>

<script src="public/js/progress-bar.js"></script>

<script src="public/js/jquery.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/jquery.isotope.min.js"></script>
<script src="public/js/wow.min.js"></script>
<script src="public/js/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<% include partials/footer %>
