p{
    margin-top: 100px;
    opacity: 0.7;
}

.text{
    font-family: "Copperplate Gothic Light";
    text-align: center;
    font-size: 4vw;
}

.slideContainer{
    width: 75%;
    margin-top: 10%;
    margin-left: 10%;
}

.containerPB {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


.animImage{
    position: relative;
    -webkit-animation-name: swing;
    -webkit-animation-duration: 5s;
    animation-name: swing;
    animation-duration: 5s;
    animation: swing 5s infinite;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.sliderr{
    -webkit-appearance: none;
    max-width: 100%;
    height:auto;
    background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214, 214, 214) 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.sliderr:hover{
    opacity: 1;
}


.sliderr::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;

}


.sliderr::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
